.item {
  border: 1px solid #f0f0f0;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
}

.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.price {
  width: 70px;
  border-radius: 30px;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
